# Virtual environment
.env*

# files from installing local package
*.egg
*.egg-info

# Python caches
__pycache__/

# test coverage
.coverage

# untrack data files, uncomment to activate
# data/

### PROTECTED DATA
data/PROTECTED_DATA/
results/