# WGCNAx packages

pandas
numpy
scipy
matplotlib
networkx
seaborn
openpyxl
cupy
lifelines
statsmodels
scikit-learn


# GCNN requeriments
python==3.10.12

pandas==1.5.3
numpy==1.25.2
networkx==3.2.1
tensorflow==2.15.0
keras==2.15.0
scipy==1.11.4